data/*.fq
data/*.txt
data/*.pkl
data/*.fa
data/human_genome
data/read2numeric
data/split
data/contaminant_genomes.fna
data/contaminant_genomes/
data/prevalence/
data/reads/

test.py
logs
__pycache__
utils/ __pycache__

deepvirfinder
virtifier

*.jpg
*.png

*_v2*
